.main {
  font-family: "Poppins", sans-serif;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  flex-direction: column;
  background-color: #2f4858;
}

.profile {
  background-color: rgb(189, 93, 56);
  height: 300px;
  margin: auto;
  border-radius: 100px / 120px;
  border: 1.5rem solid rgb(51 51 51);
}
.detail {
  background-color: #fff;
  width: revert;
  margin: auto;
  border-radius: 100px / 120px;
  border: 1.5rem solid rgb(0 0 0 / 80%);
}
.swiper-wrapper {
  display: inline-flex;
}
