<span>聯絡方式 </span>
<ul class="wrapper">
  <li class="icon facebook">
    <span class="tooltip">Facebook</span>
    <span
      ><i class="fab fa-facebook-f">
        <a href="https://www.facebook.com/AsahiPop/" target="_blank"
          ><img src="../resume-page/assets/icons/icon-facebook.png" /></a></i
    ></span>
  </li>
  <li class="icon instagram">
    <span class="tooltip">Instagram</span>
    <span
      ><i class="fab fa-instagram">
        <a href="https://www.instagram.com/li.iharu/" target="_blank"
          ><img src="../resume-page/assets/icons/icon-ig.png" /></a></i
    ></span>
  </li>
  <li class="icon github">
    <span class="tooltip">Github</span>
    <span
      ><i class="fab fa-github">
        <a href="https://github.com/haru0414" target="_blank"
          ><img src="../resume-page/assets/icons/icon-github.png" /></a></i
    ></span>
  </li>
  <li class="icon phone">
    <span class="tooltip">0903500414</span>
    <span
      ><i class="fab fa-phone"
        ><img src="../resume-page/assets/icons/icon-phone.png" /></i
    ></span>
  </li>
  <li class="icon mail">
    <span class="tooltip">寄信</span>
    <span
      ><i class="fab fa-mail"
        ><a href="mailto:skb900414@gmail.com" target="_self"
          ><img src="../resume-page/assets/icons/icon-mail.png"
        /></a> </i
    ></span>
  </li>
</ul>
