<div class="name" id="pageTop"><span>姓名</span>李哲瑋</div>
<div class="position"><span>職位</span>前端工程師</div>
<div class="aboutMe">
  <span id="me">關於我</span>
  <p [innerHTML]="abmDesc"></p>
</div>
<div id="graduate">
  <span>學歷</span>
  <p [innerHTML]="graduate"></p>
</div>
<div id="work">
  <span>工作經歷</span>
  <p [innerHTML]="work"></p>
</div>
<div id="skill">
  <span>技能與專長</span>
  <p [innerHTML]="skill"></p>
</div>
<div class="portffolio" id="portffolio">
  <app-portffolio></app-portffolio>
</div>
<div class="connection" id="connection">
  <app-connection></app-connection>
</div>
