<ng-template #pcDevice>
  <app-detail-bar></app-detail-bar>
</ng-template>
<ng-container *ngIf="isMobileDevice(); else pcDevice">
  <div class="aboutMe">
    <span id="me">關於我</span>
    <p [innerHTML]="detail[0].desc"></p>
  </div>
  <div id="graduate">
    <span>學歷</span>
    <p [innerHTML]="detail[1].desc"></p>
  </div>
  <div id="work">
    <span>工作經歷</span>
    <p [innerHTML]="detail[2].desc"></p>
  </div>
  <div id="skill">
    <span>技能與專長</span>
    <p [innerHTML]="detail[3].desc"></p>
  </div>
  <div id="certificate">
    <span>證照</span>
    <p [innerHTML]="detail[4].desc"></p>
  </div>
  <div id="merit">
    <span>獎狀</span>
    <p [innerHTML]="detail[5].desc"></p>
  </div>
  <div id="autobiography">
    <span>自傳</span>
    <p [innerHTML]="detail[6].desc"></p>
  </div>
</ng-container>
<div class="portffolio" id="portffolio">
  <app-portffolio></app-portffolio>
</div>
