span {
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: #343a40;
  font-size: 25px;
  padding: 0 20px;
}
p {
  width: 750px;
  font-weight: 800;
  letter-spacing: 0.05rem;
  color: #bd5d38;
  height: fit-content;
  margin: auto;
  font-size: 25px;
  padding: 30px 0;
}

@media (max-width: 1024px) {
  p {
    width: 300px;
    font-size: 16px;
  }
}
