.icon img {
  position: absolute;
  transform: translate(-50%);
  top: 50px;
}
.photo img {
  width: 500px;
  max-width: 10rem;
  max-height: 10rem;
  border: 1.5rem solid rgb(255, 255, 255, 0.8);
  border-radius: 50%;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .photo img {
    width: 300px;
  }
}
