<div class="listBtn">
  <img class="listOpen" src="../resume-page/assets/icons/icon-list.png" />
  <div class="selectBtn">
    <a class="goTo" href="#">top</a>
    <a class="goTo" href="#me">me</a>
    <a class="goTo" href="#graduate">graduate</a>
    <a class="goTo" href="#work">work</a>
    <a class="goTo" href="#skill">skill</a>
    <a class="goTo" href="#certificate">certificate</a>
    <a class="goTo" href="#merit">merit</a>
    <a class="goTo" href="#autobiography"> autobiography </a>
    <a class="goTo" href="#portffolio"> portffolio </a>
    <a class="goTo" href="#connection"> connection </a>
  </div>
</div>
